%body
  .hero
    .hero-container
      %h1.title
        Organizer-2018
      .badge
        %img(alt="img" src="/assets/badge.jpg")/
      .description
        %p
          Con esta aplicaci贸n puedes llevar la cuenta de las horas trabajadas por cada persona.
          Inicia sesi贸n y lleva la cuenta de las horas.
      %form.form(action="/users/1" method="GET" )
        %p Inicio sesi贸n Organizer-2018
        %input(placeholder="Correo electr贸nico" type="email")/
        %input(placeholder="Password" type="text")/
        %button(type="submit") Comienza ahora
      .countdown
        %p Propiedad de @rbn1993
        %p
          - now = DateTime.now
          %span= now.strftime("%H")+"h"
          %span= now.strftime("%M")+"m"